/* CSS Document */

/* This layout will mimic the basic structure seen in most email applications. Logo and name will be in the top left corner. 
Messages will be listed with the following elements displayed from left to right: sender, subject, date. */

*{
    background: #ffffff;
	color: #666;
    font-family: Optima,Segoe,"Segoe UI",Candara,Calibri,Arial;
}

/* Table for section labels */

table {
	margin-top: 25px;
	font-weight: bold;
	font-size: 16;
}

/* Container */ 

.container {
	text-align: left; 
	margin: 0px auto; 
}

/* Header */

.header {
	font-size: 36px;
	font-weight: bolder;
	text-align: left;
	color: #666;
    margin-left: 30px;
    margin-bottom: 15px;
}

/* Name and Inbox Counter */

h3 {
	display:inline;
	text-align: left;
}

/* to show the full email message */

.keepHidden {
	display: none;
}

/* sender on the far left */ 

.senderSpace {
	float: left;
	width: 33%;
	margin-top: 20px; 
}

/* subject is in the center */

.subjectSpace {
    display: inline-block; 
    width: 34%;
    height: 40px;
    margin-top: 20px;
    font-size: 16px; 
}

/* Borders to help differentiate between messages */

.yourFlaggedMail {
	border-top: 2px solid; 
	padding: 5px;
	margin: 0 auto;
}

/* date is on the far right */

.dateSpace {
	float: right; 
	width: 33%;
	margin-top: 20px;
}


/* the body of the message that appears upon click */

.bodySpace {
	color:#000;
	text-align: center;
	vertical-align: middle;
	width: 66%;
	font-size: 14px;
	margin-bottom: 20px;
	margin: 0 auto;
}

/* From here down, rules will apply to the login page */

.headerLogin{
	text-align: center;
	margin-top: 75px;
	font-weight: bold;
	font-size: 18px;
}
