@charset "UTF-8";
/* CSS Document */

    /* This layout will mimic the basic structure seen in most email applications. Logo and name will be in the top left corner. Messages will be listed with the following elements displayed from left to right: sender, subject, date. */

*{
	background: #ffffff
	color: #666
	font-family: Comic Sans, cursive, sans-serif;
}

/* Container */ 

.container {
	text-align: center; 
	margin: 0px auto; 
}

/* Header */

.header {
	font-size: 36px;
	font-weight: bolder;
	text-align: left;
	color: #666;
}

/* Images */

.img {
	text-align: left;
	display: inline;
}

/* to show the full email message */

.keepHidden {
	display: none;
}

/* sender on the far left */ 

.sender {
	float: left;
	width: 33%;
	margin-top: 30px; 
}

/* subject is in the center */

.subjectLine {
	font-weight: bolder; 
	display: inline-block; 
	width: 33%;
	margin-top: 30px;
	font-size: 18px; 
}

/* date is on the far right */

.date {
	float: right; 
	width: 33%;
	margin-top: 30px;
}


/* the body of the message that appears upon click */

.body {
	color:#000;
	text-align: center;
	vertical-align: middle;
	width: 66%;
	font-size: 14px;
	margin-bottom: 20px;
	margin: 0 auto;
}

/* Borders to help differentiate between messages */

.messageDivide {
	border-top: 1px thin; 
	padding: 5px;
	margin: 0 auto;
}

